<nav class="app-header navbar sticky-top navbar-light box-shadow">
  <span class="navbar-toggler hidden-lg-up" (click)="hamburgerClicked()">
    <i class="material-icons hamburger">menu</i>
  </span>
  <ui-view name="headerContent">
    <a class="navbar-brand" href="#">{{title}}</a>
  </ui-view>
  <ui-view name="actionsContent" class="actions-content"></ui-view>
</nav>
