<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
  <my-form-errors [errors]="formErrors()"></my-form-errors>

  <!-- Name -->
  <div class="form-group" [ngClass]="{'has-danger': fieldHasErrors('name')}">
    <label>Name</label>
    <input formControlName="name" class="form-control">
    <my-field-errors [errors]="fieldErrors('name')"></my-field-errors>
  </div>

  <!-- Hardware Type -->
  <div class="form-group" [ngClass]="{'has-danger': fieldHasErrors('hardwareType')}">
    <label>Hardware Type</label>
    <select formControlName="hardwareType" class="form-control">
      <option *ngFor="let hardwareType of hardwareTypes" [value]="hardwareType.value"
              [label]="hardwareType.label"></option>
    </select>
    <my-field-errors [errors]="fieldErrors('hardwareType')"></my-field-errors>
  </div>

  <!-- Onboard Pump -->
  <div *ngIf="form.value.hardwareType === hardwareTypesEnum[hardwareTypesEnum.on_board]" class="form-group"
       [ngClass]="{'has-danger': fieldHasErrors('onboardPumpId')}" [@fieldAnim]>
    <label>On-Board Pump</label>
    <select formControlName="onboardPumpId" class="form-control">
      <option *ngFor="let onBoardPump of onBoardPumps" [value]="onBoardPump.id"
              [label]="onBoardPump.desc"></option>
    </select>
    <my-field-errors [errors]="fieldErrors('onboardPumpId')"></my-field-errors>
  </div>

  <!-- Pressure Sensor -->
  <div class="form-group" [ngClass]="{'has-danger': fieldHasErrors('pressureSensor')}" [@fieldAnim]>
    <label>Pressure Sensor</label>
    <select formControlName="pressureSensor" class="form-control">
      <option [ngValue]="null">None</option>
      <option *ngFor="let item of pressureSensors" [value]="item.id"
              [label]="item.name"></option>
    </select>
    <my-field-errors [errors]="fieldErrors('pressureSensor')"></my-field-errors>
  </div>

  <!-- Pressure Min -->
  <div class="form-group" [ngClass]="{'has-danger': fieldHasErrors('pressureMin')}">
    <label>Minimum Pressure</label>
    <input formControlName="pressureMin" class="form-control">
    <my-field-errors [errors]="fieldErrors('pressureMin')"></my-field-errors>
  </div>

  <!-- Pressure Max -->
  <div class="form-group" [ngClass]="{'has-danger': fieldHasErrors('pressureMax')}">
    <label>Maximum Pressure</label>
    <input formControlName="pressureMax" class="form-control">
    <my-field-errors [errors]="fieldErrors('pressureMax')"></my-field-errors>
  </div>

  <!-- Simultaneous Zones -->
  <div class="form-group" [ngClass]="{'has-danger': fieldHasErrors('simultaneousZones')}">
    <label>Simultaneous Zones</label>
    <input formControlName="simultaneousZones" class="form-control">
    <my-field-errors [errors]="fieldErrors('simultaneousZones')"></my-field-errors>
  </div>

  <button type="submit" [disabled]="busy" class="btn btn-primary">{{obj.id ? 'Update' : 'Add'}}</button>
</form>
