<div class="content-container">
  <div class="card" *ngFor="let pump of pumps" [@itemAnim]>
    <h5 class="card-header">
      {{ pump.name || 'New Pump' }}
      <div class="btn btn-outline-danger btn-sm float-right" (click)="deletePump(pump)">
        <i class="material-icons">delete</i>
      </div>
    </h5>
    <div class="card-block">
      <my-pump-form [obj]="pump" (objChange)="getPumps()" [onBoardPumps]="onBoardPumps" [pressureSensors]="pressureSensors">
      </my-pump-form>
    </div>
  </div>
</div>
