<div class="content-container">
  <div class="card" *ngFor="let pressureSensor of pressureSensors" [@itemAnim]>
    <h5 class="card-header">
      {{ pressureSensor.name || 'New Pressure Sensor' }}
      <div class="btn btn-outline-danger btn-sm float-right" (click)="deletePressureSensor(pressureSensor)">
        <i class="material-icons">delete</i>
      </div>
    </h5>
    <div class="card-block">
      <my-pressure-sensor-form [obj]="pressureSensor" (objChange)="getPressureSensors()"></my-pressure-sensor-form>
    </div>
  </div>
</div>
