// styles in src/style directory are applied to the whole page

$brand-primary: #3097D1 !default;
$lg-width: 992px;
$sidenav-width: 250px;

@import 'material_fonts';
@import '~bootstrap/scss/bootstrap';
@import '~ngx-toastr/toastr';
@import 'variables';
@import '~ng-loading-bar/loading-bar.css';

/* GLOBAL DEFAULTS
--------------------------------------------*/

a, a:focus, a:hover, button, pre {
  color: inherit;
}

/* GENERAL CLASSES
------------------------------------------*/

.modal-backdrop.in {
  opacity: 0.5;
}

.box-shadow {
  box-shadow: 0 2px 2px rgba(0,0,0,.03), 0 1px 0 rgba(0,0,0,.03);
}

/* BODY SECTION
------------------------------------------- */

body {
  font-size: .875rem;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #f0f0f0;
}


/* HEADER SECTION
------------------------------------------- */

nav.app-header {
  flex-direction: row;
  background-color: #fff;

  .navbar-brand {
    padding-left: 0;
  }

  .navbar-toggler {
    .hamburger {
      font-size: 1.9rem;
    }

    border: none;
    cursor: pointer;
    padding-left: 0px;
  }
  .nav-icon {
    float: left;
    line-height: inherit;
    margin-right: 1rem;
    top: 0;
    min-width: 1.5rem;
  }
}
nav .actions-content {
  display: block;
  width: 100%;
}


/* RESPONSICE MAIN & NAVBAR SECTION
------------------------------------------- */

.content-container, .app-header {
  margin-left: $sidenav-width;
}

@media (max-width: $lg-width) {
  .content-container, .app-header {
    margin-left: 0px;
    transition: margin 0.3s ease;
  }
}

/* SIDENAV SECTION
------------------------------------------- */

my-side-nav .sidenav {
  color: rgba(255,255,255,.87);
  background-color: #2e3e4e;
  margin-left: 0px;
  position: fixed;
  height: 100%;
  width: $sidenav-width;
  z-index: 2000;
  top: 0px;

  .navbar-brand {
    padding: 0 0;
    font-weight: 700;
    margin-right: 0px;
  }

  .close {
    text-shadow: none;
  }

  .nav ul {
    list-style: none;
  }

  .nav li li a {
    line-height: 2rem;
    padding-left: 4rem;
  }

  .nav li.active {
    background-color: rgba(0,0,0,.065);
  }

  .nav li a {
    line-height: 2.25rem;
    display: block;
    padding: 0 1rem;
  }

  .nav li a:hover {
    background-color: rgba(0,0,0,.065);
  }

  a {
    cursor: pointer;
  }

  a, a:focus, a:hover {
    text-decoration: none;
  }

  .nav-text {
    line-height: 1.125rem;
    padding: .5625rem 0;
    font-weight: 500;
    opacity: .75;
  }

  .nav-icon {
    float: left;
    line-height: inherit;
    margin-right: 1rem;
    top: 0;
    min-width: 1.5rem;
  }

  .nav-caret {
    float: right;
    margin-left: 1rem;
    opacity: .45;
  }

  .nav-caret i {
    -webkit-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
  }

  .nav li.active>a .nav-caret i {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .nav-sub {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .4s ease 0s;
    transition: max-height .4s ease 0s;
    padding-left: 0;
  }

  .active>.nav-sub {
    max-height: 50rem;
  }
}

my-side-nav .modal-backdrop {
  display: none !important;
  visibility: hidden !important;
}

@media (max-width: $lg-width) {
  my-side-nav .sidenav {
    margin-left: -$sidenav-width;
    transition: margin 0.3s ease;
  }

  my-app.sidenav-active {
    my-side-nav .sidenav {
      margin-left: 0px;
    }

    my-side-nav .modal-backdrop {
      display: block !important;
      visibility: visible !important;
    }
  }
}

@media (min-width: $lg-width - 1) {
  my-side-nav .sidenav .close {
    display: none;
  }
}

/* SIGN-IN SECTION
------------------------------------------- */

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* CONTENT SECTION
------------------------------------------- */

.content-container {
  @extend .container-fluid;

  padding-top: 15px;
}

/* CARDS */
.card {
  margin-bottom: 15px;
}


/* MODALS */
.modal {
  background-color: rgba(0, 0, 0, 0.5);
}

/* TOASTER */
#toast-container .toast {
  padding: 15px 15px 15px 20px;
}
#toast-container .toast.toast-info {
  background-image: none !important;
}
#toast-container .toast.toast-error {
  background-image: none !important;
}
#toast-container .toast.toast-success {
  background-color: $brand-primary;
  background-image: none !important;
}
#toast-container .toast.toast-warning {
  background-image: none !important;
}


/* LOADING BAR */
#loading-bar .bar {
  background: $brand-primary;
}

#loading-bar .peg {
  -moz-box-shadow: $brand-primary 1px 0 6px 1px;
  -ms-box-shadow: $brand-primary 1px 0 6px 1px;
  -webkit-box-shadow: $brand-primary 1px 0 6px 1px;
  box-shadow: $brand-primary 1px 0 6px 1px;
}

#loading-bar-spinner .spinner-icon {
  display: none;
}
