<div class="sidenav" #sidenav>
  <div class="navbar">
    <span class="navbar-brand">
      <a uiSref="app">OIC</a>
      <a class="close" (click)="closeSidenav()"><i class="material-icons">close</i></a>
    </span>
  </div>
  <ul class="nav flex-column">
    <li uiSrefActive="active">
      <a uiSref="dashboard">
        <span class="nav-icon"><i class="material-icons">apps</i></span>
        <span class="nav-text">Dashboard</span>
      </a>
    </li>
    <li uiSrefActive="active" mySideNavParentLi>
      <a>
        <span class="nav-caret"><i class="fa fa-caret-down"></i></span>
        <span class="nav-icon">
          <i class="material-icons">settings</i>
        </span>
        <span class="nav-text">Settings</span>
      </a>
      <ul class="nav-sub flex-column">
        <li uiSrefActive="active">
          <a uiSref="settings.pressure-sensors"><span class="nav-text">Pressure Sensors</span></a>
        </li>
        <li uiSrefActive="active">
          <a uiSref="settings.pumps"><span class="nav-text">Pumps</span></a>
        </li>
        <li uiSrefActive="active">
          <a uiSref="settings.solenoid-controllers"><span class="nav-text">Solenoid Controllers</span></a>
        </li>
        <li uiSrefActive="active">
          <a uiSref="settings.zones"><span class="nav-text">Zones</span></a>
        </li>
      </ul>
    </li>
  </ul>
</div>
<div class="modal-backdrop fade in" (click)="closeSidenav()"></div>
