<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
  <my-form-errors [errors]="formErrors()"></my-form-errors>

  <!-- Name -->
  <div class="form-group" [ngClass]="{'has-danger': fieldHasErrors('name')}">
    <label>Name</label>
    <input formControlName="name" class="form-control">
    <my-field-errors [errors]="fieldErrors('name')"></my-field-errors>
  </div>

  <!-- Hardware Type -->
  <div class="form-group" [ngClass]="{'has-danger': fieldHasErrors('hardwareType')}">
    <label>Hardware Type</label>
    <select formControlName="hardwareType" class="form-control">
      <option *ngFor="let hardwareType of hardwareTypes" [value]="hardwareType.value"
              [label]="hardwareType.label"></option>
    </select>
    <my-field-errors [errors]="fieldErrors('hardwareType')"></my-field-errors>
  </div>

  <!-- Total Outputs -->
  <div class="form-group" [ngClass]="{'has-danger': fieldHasErrors('totalOutputs')}">
    <label>Total Outputs</label>
    <input formControlName="totalOutputs" class="form-control">
    <my-field-errors [errors]="fieldErrors('totalOutputs')"></my-field-errors>
  </div>

  <button type="submit" [disabled]="busy" class="btn btn-primary">{{obj.id ? 'Update' : 'Add'}}</button>
</form>
