<div class="content-container">
  <div class="card" *ngFor="let item of solenoidControllers" [@itemAnim]>
    <h5 class="card-header">
      {{ item.name || 'New Solenoid Controller' }}
      <div class="btn btn-outline-danger btn-sm float-right" (click)="deleteSolenoidController(item)">
        <i class="material-icons">delete</i>
      </div>
    </h5>
    <div class="card-block">
      <my-solenoid-controller-form [obj]="item" (objChange)="getSolenoidControllers()"></my-solenoid-controller-form>
    </div>
  </div>
</div>
